# .ebextensions/logrotate.config
files:
  "/etc/logrotate.d/custom-eb":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/messages {
          daily
          rotate 3
          compress
          missingok
          notifempty
          size 100M
      }
      /var/log/awslogs.log {
          daily
          rotate 3
          compress
          missingok
          notifempty
          size 50M
      }
      /var/log/tomcat/catalina.out {
          daily
          rotate 3
          compress
          missingok
          notifempty
          size 100M
          copytruncate
      }
      /var/log/tomcat/localhost_access_log*.txt {
          daily
          rotate 3
          compress
          missingok
          notifempty
          size 50M
          copytruncate
      }
      /var/log/tomcat/localhost.*.log {
          daily
          rotate 3
          compress
          missingok
          notifempty
          size 50M
          copytruncate
      }