# .ebextensions/tomcat-log-cleanup.config
files:
  "/etc/cron.daily/tomcat-log-cleanup":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # Delete tomcat daily logs older than 7 days
      find /var/log/tomcat/ -name "catalina.20*.log" -mtime +7 -delete
      find /var/log/tomcat/ -name "localhost.20*.log" -mtime +7 -delete
      find /var/log/tomcat/ -name "host-manager.20*.log" -delete
      find /var/log/tomcat/ -name "manager.20*.log" -delete